*{
	margin: 0;
	padding: 0;
}
body
{
	background: black;
}
p{
	color: white;
}
.form{
	justify-content: center;
	display: flex;
	transform: translateY(100px);
}
input{
	text-align: center;
	height: 50px;
	width: 300px;
	border-radius: 30px;
	border: 1px solid;
	display: block;
}
button{
	transform: translateX(30px);
	border-radius: 30px;
	border: 3px solid green;
	width: 100px;

}